{% if is_paginated %}
<ul class="pagination">
    {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {%else%}
        <li class="disabled"><a href="#">&laquo;</a></li>
    {% endif %}
    {% for page in paginator.page_range %}
        <li {% if page_obj.number == page %}class="active"{% endif %}>
          <a href="?page={{ page }}">{{ page }}</a>
        </li>
    {% endfor %}
    </span>
    {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {%else%}
        <li class="disabled"><a href="#">&raquo;</a></li>
    {% endif %}
</ul>
{% endif %}
