{% extends "materiais/materiais_base.html" %}

{%block content %}
	<h3>{{material}}</h3>
	<span>Codigo: {{material.codigo}}</span>
	<br/>
	<span>Descricao: {{material.descricao}}</span>
	<br/>
	<span>Grupo: {{material.grupo}}</span>
{% endblock %}