{% extends "materiais/materiais_base.html" %}

{%block content %}
	{% if not material_list %}
		<p>Sem materiais para exibir.</p>
	{%else%}
        {% include "_pagination.html" %}
		<ul>
		{% for m in material_list %}
		    <li><a href="{% url "materiais:detalhe" m.id %}">{{m.descricao}}</a></li>
		{%endfor%}
		</ul>
        {% include "_pagination.html" %}
	{%endif%}
{%endblock%}