{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
        <h1>Coolcad</h1>
        <p class="lead">Bem vindo ao cadastro.</p>
        <p><a class="btn btn-lg btn-success" href="{% url "materiais:index"%}">Cadastre alguma coisa</a></p>
</div>
{% endblock content %}